### Working with different files

- csv

- excel

- json

- xml

### Regular Expressions

### Executables

In [5]:
import pandas as pd
data=pd.read_xml("C://users//Nithya//downloads//employee.xml")
data.head(2)

,id,name,email,password,about,token,country,location,lng,lat,...,sendmenotifications,sendTextmessages,enabletagging,createdAt,updatedAt,livelng,livelat,liveLocation,creditBalance,myCash
0,4051,manoj,manoj@gmail.com,Test@123,None,7f471974-ae46-4ac0-a882-1980c300c4d6,NaN,None,0.0,0.0,...,False,False,False,2020-01-01T11:13:27.1107739,2020-01-02T09:16:49.284864,77.389849,28.628223,"Unnamed Road, Chhijarsi, Sector 63, Noida, Utt...",127,0
1,4050,pankaj,p1@gmail.com,Test@123,None,e269eeef-1de1-4438-885a-e30a9ad26106,NaN,None,0.0,0.0,...,False,False,False,2020-01-01T07:39:34.1618239,2020-01-01T07:39:34.161824,0.000000,0.000000,None,0,0

In [7]:
data1=pd.read_json("D://Files//amsterdam.json")
data.head(2)

,id,name,email,password,about,token,country,location,lng,lat,...,sendmenotifications,sendTextmessages,enabletagging,createdAt,updatedAt,livelng,livelat,liveLocation,creditBalance,myCash
0,4051,manoj,manoj@gmail.com,Test@123,None,7f471974-ae46-4ac0-a882-1980c300c4d6,NaN,None,0.0,0.0,...,False,False,False,2020-01-01T11:13:27.1107739,2020-01-02T09:16:49.284864,77.389849,28.628223,"Unnamed Road, Chhijarsi, Sector 63, Noida, Utt...",127,0
1,4050,pankaj,p1@gmail.com,Test@123,None,e269eeef-1de1-4438-885a-e30a9ad26106,NaN,None,0.0,0.0,...,False,False,False,2020-01-01T07:39:34.1618239,2020-01-01T07:39:34.161824,0.000000,0.000000,None,0,0

#### Regular Expressions (Pattern matching)

#### What is a regular expression and what makes it so important?
Regex are used in Google analytics in URL matching in supporting search and replace in most popular editors like Sublime, Notepad++, Brackets, Google Docs and Microsoft word.

Example :  Regular expression for an email address :
^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$ 
The above regular expression can be used for checking if a given set of characters is an email address or not.

A Regular Expressions (RegEx) is a special sequence of characters that uses a search pattern to find a string or set of strings. It can detect the presence of a text by matching it with a particular pattern, and also can split a pattern into one or more sub-patterns.

##### How to write regular expression?

##### Repeaters : * , + and { } :
These symbols act as repeaters and tell the computer that the preceding character is to be used for more than just one time.
The asterisk symbol ( * ):
It tells the computer to match the preceding character (or set of characters) for 0 or more times (upto infinite).

Example : The regular expression ab*c will give ac, abc, abbc, 
abbbc….ans so on 

##### The Plus symbol ( + ):
It tells the computer to repeat the preceding character (or set of characters) for atleast one or more times(upto infinite).
Example : The regular expression ab+c will give abc, abbc,
abbc, … and so on.

##### The curly braces {…}:
It tells the computer to repeat the preceding character (or set of characters) for as many times as the value inside this bracket.
Example : {2} means that the preceding character is to be repeated 2 
times, {min,} means the preceding character is matches min or  more 
times. {min,max} means that the preceding character is repeated at
least min & at most max times.

##### Wildcard – ( . )
The dot symbol can take place of any other symbol, that is why it
is called the wildcard character.
Example : 
The Regular expression .* will tell the computer that any character
can be used any number of times.
##### The caret ( ^ ) symbol: Setting position for match :tells the computer that the match must start at the beginning of the string or line.
Example : ^\d{3} will match with patterns like "901" in "901-333-".

###### The dollar ( $ ) symbol
It tells the computer that the match must occur at the end of the string or before \n at the end of the line or string.
Example : -\d{3}$  will match with patterns like "-333" in "-901-333".

##### Character Classes
A character class matches any one of a set of characters. It is used to match the most basic element of a language like a letter, a digit, space, a symbol etc.
/s : matches any whitespace characters such as space and tab
/S : matches any non-whitespace characters
/d : matches any digit character
/D : matches any non-digit characters
/w : matches any word character (basically alpha-numeric)
/W : matches any non-word character
/b : matches any word boundary (this would include spaces, dashes, commas, semi-colons, etc)

[set_of_characters] – Matches any single character in set_of_characters. By default, the match is case-sensitive.

Example : [abc] will match characters a,b and c in any string.
[^set_of_characters] – Negation: Matches any single character that is not in set_of_characters. By default, the match is case sensitive.

Example : [^abc] will match any character except a,b,c .

[first-last] – Character range: Matches any single character in the range from first to last.

Example : [a-zA-z] will match any character from a to z or A to Z.
treat the following character as a search character and consider it for matching pattern.

In [ ]:
# import package
import re

##### The match Function
This function attempts to match RE pattern to string .

Here is the syntax for this function −

re.match(pattern, string)
 It includes digits and punctuation and all special characters like $#@!%, etc.

re.findall()
re.match()
re.search()

re.findall() is used to search for “all” occurrences that match a given pattern.

re.match() function of re in Python will search the regular expression pattern and return the first occurrence. The Python RegEx Match method checks for a match only at the beginning of the string

re.search() function will search the regular expression pattern and return the first occurrence. Unlike Python re.match(), it will check all lines of the input string. The Python re.search() function returns a match object when the pattern is found and “null” if the pattern is not found

“^”: This expression matches the start of a string
“w+“: This expression matches the alphanumeric character in the string
[] - Square brackets 
Square brackets specifies a set of characters you wish to match.
[^abc] means any character except a or b or c.
[^0-9] means any non-digit character.

In [ ]:
'.'--> matches any character

In [8]:
import re
re.match('.','a')

In [9]:
re.match('.','')

In [10]:
if re.match('.','a'):
    print('Yes')
else:
    print('No')

Yes

In [11]:
if re.match('..','a'):
    print('Yes')
else:
    print('No')

No

In [12]:
# Read a string with a substring of length 3 that starts with letter 'a ' and ends with letter 's'
x='aos'
if re.match('a.s',x):
    print('yes')
else:
    print("No")

yes

In [13]:
x='aosghi'
if re.match('a.s',x):
    print('yes')
else:
    print("No")

yes

In [14]:
x='aops'
if re.match('a.s',x):
    print('yes')
else:
    print("No")

No

In [ ]:
# string pattern match

In [19]:
s='Python proramming language.3456,5667'
pattern='\D+'
result = re.findall(pattern, s) 
print(result)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'l', 'a', 'n', 'g', 'u', 'a', 'g', 'e', '.', ',']

In [20]:
s='Python proramming language.3456,5667'
pattern='\D'
re.match(pattern,s)

In [23]:
### re.findall()

# Program to extract numbers from a string

import re

string = 'hello 12 hi 89. Howdy 34'
pattern = '\d+'

result = re.findall(pattern, string) 
print(result)

# Output: ['12', '89', '34']

['12', '89', '34']

In [25]:
# match a string with digit end.
string = '3456 hello 3335676'
pattern='\d+$'  
result = re.findall(pattern, string) 
print(result)

['3335676']

The re.split method splits the string where there is a match and returns a list of strings where the splits have occurred.

 re.split()

In [26]:
# split based on digits

string = 'Twelve:12 Eighty nine:89.'
pattern = '\d+'

result = re.split(pattern, string) 
print(result)

# Output: ['Twelve:', ' Eighty nine:', '.']

['Twelve:', ' Eighty nine:', '.']

##### re.search()
The re.search() method takes two arguments: a pattern and a string. The method looks for the first location where the RegEx pattern produces a match with the string.

If the search is successful, re.search() returns a match object; if not, it returns None
match1 = re.search(pattern, str)

In [29]:
import re
string = "Python is fun"

# check if 'Python' is at the beginning
match = re.search('\AP', string)  # \A always matches at the start of the string only 
                                #in all flavors that support it.

if match:
    print("pattern found inside the string")
else:
    print("pattern not found")

pattern found inside the string

##### match.group()
The group() method returns the part of the string where there is a match.

In [31]:
string = '39801 356, 2102 1111'

# Three digit number followed by space followed by two digit number
pattern = '(\d{3}) (\d{2})'

# match variable contains a Match object.
match = re.search(pattern, string) 
print(match)
if match:
    print(match.group())
else:
    print("pattern not found")

<re.Match object; span=(2, 8), match='801 35'>
801 35

Our pattern (\d{3}) (\d{2}) has two subgroups (\d{3}) and (\d{2}). You can get the part of the string of these parenthesized subgroups.

##### match.start(), match.end() and match.span()
The start() function returns the index of the start of the matched substring. Similarly, end() returns the end index of the matched substring.

In [32]:
match.start()

2

In [33]:
match.end()

8

##### Using r prefix before RegEx
When r or R prefix is used before a regular expression, it means raw string. For example, '\n' is a new line whereas r'\n' means two characters: a backslash \ followed by n.

Backlash \ is used to escape various characters including all metacharacters. However, using r prefix makes \ treat as a normal character.

In [34]:
#Raw string using r prefix

string = '\n and \r are escape sequences.'

result = re.findall(r'[\n\r]', string) 
print(result)

['\n', '\r']

#### Examples

In [41]:
import re
line1='We just received $10.00 for cookies.'
#r1 = re.findall(r"^\w+",line1)
r1 = re.findall(r"^\w+",line1)

print(r1)

['We']

In [ ]:
line1='We just received $10.00 for cookies.'
r1 = re.findall(r"^\w+",line1) 
## The ‘ ^ ’ character checks if the string starts with a particular word or character.
print(r1)

In [ ]:
r1 = re.findall(r"\w+",line1)
print(r1)

In [47]:
#re.findall('\d+',line1)

['10', '00']

In [42]:
y = re.findall('[0-9.]+',line1)
print(y)

['10.00', '.']

In [43]:
y = re.findall('\$[0-9.]+',line1)
print(y)

['$10.00']

In [48]:
import re
s="This is the first sentence 34567"
s1="This is the second sentence"
match = re.search('(\d{3})',s)
print(match)
print(match.group())
print('Start Index:', match.start())
print('End Index:', match.end())

<re.Match object; span=(27, 30), match='345'>
345
Start Index: 27
End Index: 30

In [49]:
import re
target_string = "Jessa loves Python and pandas"
# Match six-letter word
pattern = r"\w{6}"
p=re.findall(r"\w{6}",target_string)

print(p)

['Python', 'pandas']

In [50]:
import re

target_string = "Jessas loves Python and pandas"
# Match six-letter word
pattern = r"\w{6}"

# match() method   --> re.match() method looks for the regex pattern only at the beginning 
#of the target string and returns match object if match found; otherwise, it will return None.
result = re.match(pattern, target_string)
print(result)
# Output None

# search() method ->Matches pattern anywhere in the string. Return only first match
result = re.search(pattern, target_string)
print(result.group()) 
# Output 'Python'

# findall() method -->Returns all matches to the pattern
result = re.findall(pattern, target_string)
print(result) 
# Output ['Python', 'pandas']

<re.Match object; span=(0, 6), match='Jessas'>
Jessas
['Jessas', 'Python', 'pandas']

In [51]:
# Example to match the four-digit number at the end of the string
target_string = "Emma is a basketball player who was born on June 17, 1993"

# match at the end
result = re.search(r"\d{4}$", target_string)
print("Matching number: ", result.group())

Matching number:  1993

In [52]:
import re

target_string = "Jessa and Kelly"

# Match five-letter word
res = re.match(r"\w{5}", target_string)

# printing entire match object
print(res)


# Extract Matching value
print(res.group(0))


# Start index of a match
print(res.start())


# End index of a match
print("End index: ", res.end())  # 5

# Start and end index of a match
pos = res.span()
print(pos)

<re.Match object; span=(0, 5), match='Jessa'>
Jessa
0
End index:  5
(0, 5)

### Executables

An executable is a file that contains a program - that is, a particular kind of file that is capable of being executed or run as a program in the computer.

#### Convert .py file into .exe file

In [ ]:
!pip install pyinstaller

In [ ]:
Go to command powershell.