In [ ]:
#Write a program to create a function that takes two arguments, name and age, and print their value.
# demo is the function name
def demo(name, age):
    # print value
    print(name, age)

# call function
demo("Ben", 25)

In [41]:
# function with default argument
def show_employee(name, salary=9000):
    print("Name:", name, "salary:", salary)

#show_employee("Ben", 12000)
show_employee("Jessa")

Name: Jessa salary: 9000

In [39]:
def display_student(name, age):
    print(name, age)

# call using original name
#display_student("Emma", 26)

# assign new name
showStudent = display_student
# call using new name
showStudent("Emma", 26)

Emma 26

In [42]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 4
24

In [43]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(9))

False

In [44]:
r = lambda a : a + 15
print(r(10))

25

In [ ]:
r = lambda x, y : x * y
print(r(12, 4))

In [45]:
def area_peri(w,h):
    # calculate the area
    Area = w * h
    print("Area",Area)
# calculate the Perimeter
    Perimeter = 2 * (w + h)
    print("Perimeter",Perimeter)
area_peri(2,3)

Area 6
Perimeter 10

### for loop

In [ ]:
#Print characters from a string that are present at an even index number

s='pynative'
for i in range(0,len(s),2):
    print(s[i])

In [ ]:
#Write a program to print first 10 even numbers in reverse order.
for i in range(20,0,-2):
      print(i)

In [ ]:
#Write a program to print multiples of a number accepted from user. using for loop

num = int(input("Enter any number"))
for i in range(1,11):
           print(num*i)

In [ ]:
#Write a program to find the factorial of a number.using for loop
num=int(input("Enter any number"))
f=1
for i in range(1,num+1):
    f=f*i
print("Factorial is",f)

In [ ]:
#Write a program to display all the numbers which are divisible by 11 but not by 2 between 100 and 500.

for i in range(100,500):

    if i%11==0 and i%2!=0:

        print(i)

### while loop

In [ ]:
#Print First 10 natural numbers using while loop
i = 1
while i <= 10:
    print(i)
    i += 1

In [ ]:
#Write a program to count the total number of digits in a number using a while loop.
n=int(input("Enter number:"))
count=0
while(n>0):
    count=count+1
    n=n//10
print("The number of digits in the number are:",count)

In [ ]:
#Finding the sum of even numbers using while loop
i = 0
sum = 0
n = int(input("Enter the number n: "))

while  i <= n:
    if i % 2 == 0:
        sum += i
    i += 1
        
print("Sum of even numbers till n:",sum)

In [ ]:
#Finding the 10 multiples of a number using while loop
n = int(input("Enter an integer: "))

i = 1
while i <= 10:
    mul = i*n
    i += 1
    print(mul)

In [ ]:
#Printing the square of numbers using while loop. n=1,2,3,4,5
n = 1

while n <= 5:
    squareNum = n**2
    print(n,squareNum)
    n += 1

In [ ]:
#Finding the average of 5 numbers using while loop
p = 0
sum = 0
count = 0

while p <5:
    count += 1
    f = int(input("Enter the number "))
    sum += f
    p += 1
  
average = sum/count
print("Average of given Numbers:",average)

In [ ]:
##Printing all letters except some using Python while loop
i = 0 
word = "Hello"

#print all letters except y and o

while i < len(word):
    if word[i] == "e" or word[i] =="o":
        i += 1
        continue

    print(word[i])
    i += 1

In [ ]:
#Write a program to find the sum of the digits of a number accepted from user
n=int(input("Enter a number:"))
tot=0
while(n>0):
    r=n%10
    tot=tot+r
    n=n//10
print("The total sum of digits is:",tot)

#### Additional problems

In [ ]:
tax = 0
pr=int(input("Enter the price of bike"))
if pr > 100000:
     tax = 15/100*pr
elif pr >50000 and pr <=100000:
     tax = 10/100*pr
else:
     tax = 5/100*pr

In [ ]:
num=int(input("Enter any number between 1 to 7 : "))
if num==1:
    print("Sunday")
elif num==2:
    print("Monday")
elif num==3:
    print("Tuesday")
elif num==4:
   print("Wednesday")
elif num==5:
   print("Thursday")
elif num==6:
   print("Friday")
elif num==2:
   print("Saturday")
else:
   print("Please enter number between 1 to 7")

In [ ]:
age=int(input("Enter your age"))
if age >=60:
    print("Senior Citizen")
else
    print("Not a Senior Citizen")

In [ ]:
num1 = int(input("Enter first number"))
if num1%2==0 and num1%3==0:
      print("Number is divisible by 2 and 3 both")
else:
      print("Number is not divisible by both")

In [ ]:
temp = int(input("Enter temperature of water"))
if temp >=100:
    print("Water is boiling")
else:
    print("Water is not boiling")

In [ ]:
ch=input("Enter any character")
vow="aeiouAEIOU"
if ch in vow:
     print("Entered character is vowel")
else:
     print("Entered character is not vowel")

In [ ]:
nd = int(input("Enter total number of working days"))
na = int(input("Enter number of days  absent"))
per=(nd-na)/nd*100
print("Your attendance is ",per)
if per <75 :
     print("You are not eligible for exams")
else:
     print("You are eligible for writing exam")

In [ ]:
age=int(input("Enter your age"))
sex=input("Enter sex(M/F) ")
nd = int(input("Enter number of days"))
if age >=18 and age < 30 and sex.upper( ) == 'M':
     amt = nd*700
     print("Total wages is : ", amt)
elif age >=18 and age < 30 and sex.upper( ) == 'F':
     amt = nd*750
     print("Total wages is : ", amt)
elif age >=30 and age <= 40 and sex.upper( ) == 'M':
     amt = nd * 800
     print("Total wages is : ", amt)
elif age >=30 and age <= 40 and sex.upper( ) == 'F':
     amt = nd * 850
     print("Total wages is : ", amt)
else:
     print("Enter appropriate age")

In [ ]:
### Functions

In [20]:
def alternating(li):
    l=len(li)
    if l==0 or l==1:
        return None
    if li[0]==li[1]:
        return False
    elif li[0]>li[1]:
        for i in range (2,l):
            if i%2==0:
                if li[i]<=li[i-1]:
                    return True
                else:
                    return False
        return True
    elif li[0]<li[1]:
        for i in range (2,l):
             if i%2==0:
                if li[i]>=li[i-1]:
                    return True
            else:
                if li[i]<=li[i-1]:
                    return False 
        return True

In [25]:
l=[3,4,6,5]
alternating(l)

False

In [26]:
def alternating(li):
    l=len(li)
    if l==0 or l==1:
        return True
    if li[0]==li[1]:
        return False
    elif li[0]>li[1]:         #start-down-up...
        for i in range(2,l):
            if i%2==0:
                if li[i]<=li[i-1]:
                    return True
            else:
                if li[i]>=li[i-1]:
                    return False
        return True
    elif li[0]<li[1]:         #start-up-down...
        for i in range(2,l):
            if i%2==0:
                if li[i]>=li[i-1]:
                    return True
            else:
                if li[i]<=li[i-1]:
                    return False
        return True

In [28]:
l=[3,6,3,2]
alternating(l)

False

In [31]:
def descending(li):
    ls=len(li)
    if l==0 or l==1:
        return True
    else:
        for i in range(1,ls):
            if li[i]>li[i-1]:
                return False
        return True

In [34]:
# list of numbers are in descending order
li=[7,6,5,4,3]
descending(li)

True

In [ ]:
def response(test):
    z=test.upper()
    print(z)
test=input()
response(test)

In [37]:
def area(radius):
    area=3.14*radius*radius
    print(area)
radius=int(input())
area(radius)

4
50.24

In [36]:
def response(test):
    
    z=test.upper()
    print(z)
test=input()
response(test)

there
THERE