### Data Structures

         - Lists
    
         - Tuple
        
         - Dictionary
            
         - Set
        
### List Comprehension

#### Data Structures in Python
##### Lists

In [ ]:
An ordered sequence of values enclosed within [ ].

- List can be created by [] or list()

- Lists are mutable : Can do changes

-  List can contain multiple data types

- Lists are iterables

In [ ]:
# Create an empty list

In [ ]:
# create a list with int data types

In [ ]:
# create a list with string data type

In [ ]:
# create a list with mixed data types

In [ ]:
# Lists are mutable
# change the value '5' into '0' in the list ls3
ls3=[5,6.5,'age',True]

In [ ]:
# Extract 'age' from the list ls3

In [ ]:
# Extract 'e'  from the list ls3

In [ ]:
# Extract 'age',True from the list ls3

In [ ]:
ls4= [25,31,[3,4],-5]
# extract [3,4] from the list ls4.

In [ ]:
first=[2,34,5,[56,81,[43,89],67],10]
# extract [43,89]
# extract 89

In [ ]:
# extract [43,89]

In [ ]:
# extract 89

In [ ]:
#extend
newlist1=[1,2,3]
newlist2=[5,6]

In [ ]:
# append
newlist3=[6,7,8]
newlist4=[9,10]

In [ ]:
# insert
#syntax: listobject.insert(index,value)

In [ ]:
#pop
# listobject.pop(index) 
# list object.pop()--> removes last element in the list

In [ ]:
## remove 
# syntax: listobject.remove(value)

In [ ]:
# reverse
# syntax: list object.reverse()

In [ ]:
#index
# returns the position of the element

In [ ]:
### Apply + * on list objects

In [ ]:
# sort the list object in ascending order

In [ ]:
#descending order

In [ ]:
# Copy one list from the other list (or) creating a list from existing list by using '=' (or) copy() method
ls9=[1,2,5,2,1,3,2,10]
#create newlist from ls9.

In [ ]:
#spilit method

In [ ]:
# loop

In [ ]:
#List comprehension
# one line expression of for loop

In [ ]:
a=[1,2,3,4]
#list of square of elements of a
#for loop

In [ ]:
#list comprehension : syntax: [expression for if]

In [ ]:
cities=['Delhi','Pune','Chennai','Bangalore','Hyd']
# create a list of elements which has length is greater than 6.

In [ ]:
L=[4,7,8,9]
# Add value 5 to each element in the list

In [ ]:
# Create a list of elements which is greater than 5 in the given list L

In [ ]:
# Addition of two lists L1 and L2

### Tuple

- A tuple is a sequence of items
- tuple is created by using () or tuple()
- tuple contains mixed data type
- tuples are immutable
- tuples are iterable

In [ ]:
# empty tuple object

In [ ]:
# extract '4' from t3

In [ ]:
# immutable

In [ ]:
#for loop

In [ ]:
### Dictionary
- A collection of unordered set of key:value pairs.

- Create dictionaries by using {} or dict()

- Keys are unique.

- values are accessed by using keys, not by index

- Dictionaries are mutable.

- Dicitonaries are iterables.

In [ ]:
# empty dict:

In [ ]:
#extract [5,6,7] from d4.

In [ ]:
#extract 6

In [ ]:
#extract 'b'

In [ ]:
d5={'one':{'el_one':[3,4,6,{'el_two':'z'}]}}
# extract 'z'

In [ ]:
d6={'new':[9,4,5,['split','merge',10]],'old':('s',17,0),'mid':{'ram':4,'ravi':8}}
#Extract 'merge'
#extract 8

In [ ]:
# for loop

In [ ]:
#mutable

In [ ]:
# using pop() method to rename the key names in the dictionary

In [ ]:
### Sets
- Unordered sequence of elements

- create set objects by using {} or set()

- sets are immutable

In [ ]:
# create empty set

In [ ]:
s3={"Monday","Tuesday","Wednesday","Thursday","Friday"}

In [ ]:
s4=set(["Monday","Tuesday","Wednesday","Thursday","Friday"])

In [ ]:
# add element in the set s4.

In [ ]:
#update

In [ ]:
# removing the items

### Set operations
- Union

- Intersection

- Difference

- Symmetric difference

In [ ]:
#union
Days1={'Monday',"Tuesday","Wednesday","Thursday","Sunday"}
Days2={"Friday","Saturday","Sunday"}

In [ ]:
#intersection

In [ ]:
# difference
A={10,20,30,40,50}
B={100,30,50,40,60}

In [ ]:
# Symmetric differnce

In [ ]:
# for loop

In [ ]:
### map and filter function

#map function: map square function
b=[2,3,4]
# map(fun,iterable)

In [ ]:
# filter function
# filter the words from a list that dont start with the letter 's'
seq=['soup','salad','food','great']

--------------------------------------------------End--------------------------------------------------------------