### Conditional Statements 

                - if, if else, elif,nested if

### Operators

                - Arithmetic 
                
                - Bitwise
                
                - Boolean/Logical
                
                - Relational
                
                - Operators precedence

### Conditional Statements

#1) if statements

#2) if-else statements

#3) elif statements

#4) Nested if-else statements

Python if statement is one of the most commonly used conditional statements in programming languages. It decides whether certain statements need to be executed or not. It checks for a given condition, if the condition is true, then the set of code present inside the ” if ” block will be executed otherwise not.

#syntax: if condition:
             ## statements
             ![if_statement_flowchart.webp](attachment:if_statement_flowchart.webp)

In [ ]:
#1. Check the given number is less than 15 or not.
num=int(input())
if num<15:
    print(num,'is less than 15')
print('exit')

In [ ]:
#2.If the number is positive, then print an appropriate message
n=18
if n>0:
    print(n, 'is positive number')

##### if-else statement 
evaluates the Boolean expression. If the condition is TRUE then, the code present in the “ if “ block will be executed otherwise the code of the “else“ block will be executed

Syntax:

If (EXPRESSION == TRUE):

        Statement (Body of the block)
        
else:

        Statement (Body of the block)
![if-else_statement_flowchart.webp](attachment:if-else_statement_flowchart.webp)

In [ ]:
# Program checks if the number is positive or negative
# And displays an appropriate message
num=int(input())
if num>0:
    print(num,'is positive')
else:
    print(num,'is negative')

In [ ]:
# Try these two variations as well. 
# num = -5
# num = 0

In [ ]:
## Check whether given number is even or odd (%)num%2=0
num=int(input())
if num%2==0:
    print(num, 'is even')
else:
    print(num,'is odd')

#### elif statements
 “elif” statement is used to check multiple conditions only if the given condition is false. It’s similar to an “if-else” statement and the only difference is that in “else” we will not check the condition but in “elif” we will check the condition.
 
 Syntax:

if (condition):

            #Set of statement to execute if condition is true
            
elif (condition):

            #Set of statements to be executed when if condition is false and elif condition is true
else:

       #Set of statement to be executed when both if and elif conditions are false
 ![Python_if_elif_else_statement.webp](attachment:Python_if_elif_else_statement.webp)

In [ ]:
'''check if the number is positive or
negative or zero and 
display an appropriate message'''

In [ ]:
num =-9

# Try these two variations as well:
# num = 0
# num = -4.5

if num>0:
    print('positive')
elif num==0:
    print('zero')
else:
    print('negative')

check if the given score is greater than 80 then print 'distinction' if the score is between 60 and 80 then print 'First class' or print 'Pass'.

In [ ]:
score=int(input())
if score>80:
    print("distinction")
elif 60<score<=80:
    print('First class')
else:
    print('Pass')

#### Nested if-else statements
Nested “if-else” statements mean that an “if” statement or “if-else” statement is present inside another if or if-else block

if(condition):

           #Statements to execute if condition is true
           if(condition):
           
                    #Statements to execute if condition is true
           #end of nested if
           
#end of if

In [ ]:
'''In this program, we input a number
check if the number is positive or
negative or zero and display
an appropriate message
This time we use nested if statement'''

n=int(input())
if n>=0:
    if n==0:
        print('zero')
    else:
        print('postive')
else:
    print('negative')

In [ ]:
### Hands - on- Exercise

In [25]:
# check whether the given number is lies between 5 and 15 or not.
num=int(input())
if num>5:
    if num<=15:
        print('given number lies between 5 and 15')
    else:
        print(' given number is greater than 15')
else:
    print('given number is less than 5')

12
given number lies between 5 and 15

In [26]:
# Write a program to check whether a person is eligible for voting or not. (accept age from user)
age=int(input())
if age>=18:
    print('eligible')
else:
    print('not eligible')

20
eligible

In [27]:
#Write a program to check whether a number is divisible by 7 or not.
num=int(input())
if num%7==0:
    print(num,'is divisible by 7')
else:
    print(num, 'is not divisible by 7')

49
49 is divisible by 7

Write a program to check whether the last digit of a number( entered by user ) is 
divisible by 3 or not.

In [31]:
num=int(input("Enter any number"))
Id=num%10 # it returns the last digit
if num%3==0:
     print("Last digit of number is divisible by 3 ")
else:
     print("Last digit of number is not divisible by 3 ")

Enter any number13
Last digit of number is not divisible by 3

Accept any city from the user and display monument of that city.
                  City                                 Monument
                  Delhi                               Red Fort
                  Agra                                Taj Mahal
                  Jaipur                              Jal Mahal

In [32]:
city = input("Enter name of the city")
if city.lower()=="delhi":
    print("Monument name is : Red Fort")
elif city.lower()=="agra":
    print("Monument name is : Taj Mahal")
elif city.lower()=="jaipur":
    print("Monument name is : Jal Mahal")
else:
    print("Enter correct name of city")

Enter name of the citydelhi
Monument name is : Red Fort

In [33]:
#Write the output of the following if a = 9
a=9        
if (a > 5 and a <=10):    
    print("Hello")    
else:    
     print("Bye")

Hello

In [ ]:
# check whether the given number is of one digited or two digited or three digited or more than three digited.
n = int(input("Enter any number:"))
if n>0 and n<10:
    print("One digit number")
elif n>10 and n<100:
    print("Two digit number")
elif n>100 and n<1000:
    print("Three digit number")
else:
    print("More than three digit number")

In [40]:
# Find maximum number out of given three numbers.
n1,n2,n3 = int(input("Enter no1:")),int(input("Enter no2:")),int(input("Enter no3:"))
if n1>n2 and n1>n3:
    print("No1 is maximum")
elif n2>n1 and n2>n3:
    print("No2 is maximum")
elif n3>n1 and n3>n2:
    print("No3 is maximum")
elif n1==n2 and n1>n3:
    print(n1, 'is the maximum')
elif n2==n3 and n2>n1:
    print(n2, 'is the maximum')
elif n1==n3 and n3>n2:
    print(n3, 'is the maximum')
else:
    print("All are equal")

Enter no1:12
Enter no2:16
Enter no3:12
No2 is maximum

### Operators 

Operators are used to perform operations on variables and values.OPERATORS: Are the special symbols. Eg- + , * , /, etc.

- Arithmetic operators
- Bitwise operators
- Boolean operators
- Assignment operators
- Relational operators
- Operators precedence

#### Arithmetic operators

Operator	Description	Syntax
+	          Addition: adds two operands	x + y
–	          Subtraction: subtracts two operands	x – y
*	          Multiplication: multiplies two operands	x * y
/	          Division (float): divides the first operand by the second	x / y
//	          Division (floor): divides the first operand by the second	x // y
%	          Modulus: returns the remainder when the first operand is divided by the second	x % y
**	          Power: Returns first raised to power second	x ** y

In [42]:
a=6
b=8

In [51]:
# addition
add=a+b

In [52]:
#subtraction
sub=a-b
#abs(a-b)

In [53]:
#multiplication
mul=a*b

In [54]:
#division
div1=a/b

In [55]:
div2=a//b

In [ ]:
#modulo of both number

In [57]:
R=a%b

In [58]:
#power
x=2
y=3
P=x**y

In [59]:
#print results
print(add);print(sub);print(mul);print(div1);print(div2);print(R);print(P)

14
-2
48
0.75
0
6
8

In [ ]:
#### Bitwise operators

In Python, bitwise operators are used to performing bitwise calculations on integers. The integers are first converted into binary and then operations are performed on bit by bit, hence the name bitwise operators

OPERATOR	       DESCRIPTION	SYNTAX

&	               Bitwise AND	x & y

|	               Bitwise OR	x | y

~	               Bitwise NOT	~x

Bitwise AND operator: Returns 1 if both the bits are 1 else 0.

In [60]:
a=10
b=4
a & b

0

Bitwise or operator: Returns 1 if either of the bit is 1 else 0.

In [61]:
a=10
b=4
a|b

14

Bitwise not operator: Returns one’s complement of the number.
1's complement: flipping the bits
2's complement: add 1 to 1's complement

In [62]:
a=10
~a

-11

In [ ]:
#### Relational operators

Operator	                             Description	                                      Syntax
<	                               Less than: True if the left operand is less than the right	x < y
==	                               Equal to: True if both operands are equal	                x == y
!=	                               Not equal to – True if operands are not equal	            x != y
>=	                               Greater than or equal to: True if left operand is            x >= y
                                     greater than or equal to the right

In [63]:
a=13
b=33
a<b

True

In [64]:
a>b

False

In [65]:
a!=b

True

In [66]:
a==b

False

#### Boolean operators
The logical operators and, or and not are also referred to as boolean operators.

Operator	             Description	                                              Example
and	             Returns True if both statements are true	                     x < 5 and x < 10
or	             Returns True if one of the statements is true	                 x < 5 or x < 4
not	             Reverse the result, returns False if the result is true 	     not(x < 5 and x < 10)

##### and operator
returns true if both operands return true.

In [68]:
a=50
b=25
a<60 and b<10

False

In [70]:
##### or operator returns true if any one operand is true
a=50
b=25
a>30 or a<10

True

In [71]:
##### The not operator returns true if its operand is a false expression and returns false if it is true
a=10
not(a)

False

In [72]:
a=0
not(a)

True

In [ ]:
#### Assignment operators

Python Assignment Operators
Operator	                     Example	        Same As
+=	                              x += 3	     x = x + 3
-=	                              x -= 3	     x = x - 3
*=	                              x *= 3	     x = x * 3
/=	                              x /= 3	     x = x / 3

In [76]:
a=10
b=a
print(a)
print(b)

10
10

In [74]:
#add and assign value
b+=a

In [75]:
b

20

In [78]:
a*=b
print(a)

1000

PRECEDENCE:

P – Parentheses
E – Exponentiation
M – Multiplication     (Multiplication and division have the same precedence)
D – Division
A – Addition     (Addition and subtraction have the same precedence)
S – Subtraction

For example, x = 7 + 3 * 2; here, x is assigned 13, not 20 because operator * has higher precedence than +, so it first multiplies 3*2 and then adds into 7.

Here, operators with the highest precedence appear at the top of the table, those with the lowest appear at the bottom.

In [79]:
a = 20
b = 10
c = 15
d = 5
e = 0

e = (a + b) * c / d       #( 30 * 15 ) / 5
print ("Value of (a + b) * c / d is ",  e)

e = ((a + b) * c) / d     # (30 * 15 ) / 5
print ("Value of ((a + b) * c) / d is ",  e)

e = (a + b) * (c / d);    # (30) * (15/5)
print ("Value of (a + b) * (c / d) is ",  e)

e = a + (b * c) / d;      #  20 + (150/5)
print ("Value of a + (b * c) / d is ",  e)

Value of (a + b) * c / d is  90.0
Value of ((a + b) * c) / d is  90.0
Value of (a + b) * (c / d) is  90.0
Value of a + (b * c) / d is  50.0

In [ ]:
#### Hands-on -Exercise

In [1]:
# #  Find the average of two numbers entered by the user.
a1=int(input())
a2=int(input())
avg=(a1+a2)/2
print(avg)

12
13
12.5

In [3]:
# Find the remainder when a number is divided by 2.
x1=int(input())
result=x1%2
print(result)

23
1

In [4]:
#Use comparison operators to find out whether a given variable a is greater than b or not. Take a=34, b=80.
a=34
b=80
a>b

False

In [6]:
# Calculate square of a number entered by the user.
input1=int(input())
print(input1**2)

2
4

Make a program that asks the number between 1 and 10. If the number is out of range the program should display “invalid number”.

In [11]:
num = int(input("Please enter a number: "))
if num >=1 and num <10:
    print("valid points.")
else:
    print("Invalid points.")

Please enter a number: 1
valid points.

Write a program to display "Hello" if a number entered by user is a multiple of five , 
otherwise print "Bye".

In [12]:
num=int(input("Enter your age"))
if num%5==0:
   print("Hello")
else:
   print("Bye")

Enter your age25
Hello

Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :
             Unit                                                     Price  
First 100 units                                               no charge
Next 100 units                                              Rs 5 per unit
After 200 units                                             Rs 10 per unit
(For example if input unit is 350 than total bill amount is Rs2000)

In [13]:
amt=0
nu=int(input("Enter number of electric unit"))
if nu<=100:
     amt=0
if nu>100 and nu<=200:
     amt=(nu-100)*5
if nu>200:
     amt=(100*5)+(nu-200)*10
print("Amount to pay :",amt)

Enter number of electric unit350
Amount to pay : 2000

Write a program to display the last digit of a number.
(hint : any number % 10 will return the last digit)

In [16]:
num=int(input("Enter any number"))
print("Last digit of number is ",num%10)

Enter any number43
Last digit of number is  3

In [24]:
#Take two int values from user and print greatest among them.
num1 = int(input("Enter first number: "))      
num2 = int(input("Enter second number: ")) 
 #Compare both the number 
if num1 >= num2:   
    if num1 == num2:    
        print("Both numbers are equal.")       
    else:  
        print("First number is greater than the second number.")
else:   
    print("Second number is greater than the First number.")

Enter first number: 12
Enter second number: 45
Second number is greater than the First number.

In [ ]:
---------------------------------------------------- End -------------------------------------------------------------