In [ ]:
#Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]

In [ ]:
 #Reverse a list in Python
list1 = [100, 200, 300, 400, 500]

In [ ]:
Turn every item of a list into its square
Given a list of numbers. write a program to turn every item of a list into its square.
numbers = [1, 2, 3, 4, 5, 6, 7]
Expected output:

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
Rename key of a dictionary
Write a program to rename a key city to a location in the following dictionary.
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
Expected output:

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict['location']=sample_dict.pop('city')
sample_dict

In [ ]:
Access value 20 from the tuple
The given tuple is a nested tuple. write a Python program to print the value 20.


tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [ ]:
Swap two tuples in Python
Given:

tuple1 = (11, 22)
tuple2 = (99, 88)

In [ ]:
Counts the number of occurrences of item 50 from a tuple
Given:

tuple1 = (50, 10, 60, 70, 50)

In [ ]:
# set 2

In [ ]:
#1. figure out programatically how many times 'here'occurs
#2. count how many time numbers occur in this sentence

assign_txt="this is a sentence with a number 56 here and 72 here"

In [ ]:
#extract 'e' from the given list
ls4=[3.5, 'Tiger', 10, [3,4]]

In [ ]:
# Find the functions and methods associated with the list ls4

In [ ]:
 #Given this nested list, use indexing to grab the word "hello"
w = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
 Given two lists. Create a third list by picking an odd-index element from the first list
#and even index elements from second.
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]

In [ ]:
.Given an input list removes the element at index 4 and add it to the 2nd position and also,
#at the end of the list
sampleList = [54, 44, 27, 79, 91, 41]

In [ ]:
#Add the value 1 to each element in the given list: for loop and lambda function
l=[1,2,3,4,5]

In [ ]:
#copy one list from the other OR creating one list from existing list
list2=[1,2,5,2,1,3,2,10]

In [ ]:
#Reverse the given tuple
tuple1 = (10, 20, 30, 40, 50)

In [ ]:
.Access value 20 from the tuple
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [ ]:
#Copy specific elements from one tuple to a new tuple
#Write a program to copy elements 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)

In [ ]:
#Convert two lists into a dictionary
#Below are the two lists. Write a Python program to convert them into a dictionary in a way that 
#item from list1 is the key and item from list2 is the value
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [ ]:
Delete a list of keys from a dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]
## use for loop

In [ ]:
#Check if a value exists in a dictionary
#Write a Python program to check if value 200 exists in the following dictionary.

sample_dict = {'a': 100, 'b': 200, 'c': 300}

Write a program to add sample_list into a given set.
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

In [ ]:
Return a new set of identical items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [ ]:
# set 3

In [ ]:
#apply lambda function to filter out vowles from a list

alphabets = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [ ]:
 #apply lambda function to find list of even numbers from a given list
l2=[456,78,987,400,568,887]

In [ ]:
#Use map() function to convert elements of lists into uppercase
alist = ['learn', 'python', 'step', 'by', 'step']

In [ ]:
#Write a Python program to calculate the sum of a list of numbers.
list1 = [11, 5, 17, 18, 23]

# Python program to check if strings are rotations of
# each other or not
str1 = "ABACD"
str2 = "CDABA"

In [ ]:
### LMS Problems